/* .box{
    box-sizing:border-box;
    border-width:1;
    border-style:solid;
    border-color:red; */
      /* width: 25px ;
          height: 28px;
          background-color:red; */
          
        /* } */

.hide{
  display:none;
}     